<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <div class="account-management">
                <h2>Welcome <%= locals.accountData.account_firstname %>!</h2>

                <p>You're logged in!</p>

                <a href="/account/update/<%= locals.accountData.account_id %>">
                    Update Account Information
                </a>

                <% if (locals.accountData.account_type==='Employee' || locals.accountData.account_type==='Admin' ) { %>
                    <h3>Inventory Management</h3>
                    <p>
                        <a href="/inv/" style="display: inline-block;">
                            Manage Inventory
                        </a>
                    </p>
                    <% } %>
                
            </div>