<body>
    <div class="content">
        <h1>Welcome to CSE Motors</h1>
        <div>
            <img src="../public/images/vehicles/delorean-tn.jpg" alt="backgroung car image">
            <h2>DMC Delorean</h2>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dicel</li>
            <button>Own Today</button>
        </div>
        <div>
            <h1>DMC Delorean Reviews</h1>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Cooest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </div>
        <div>
            <h1>Delorean Upgrades</h1>
            <section>
                <img src="../public/images/upgrades/flux-cap.png" alt="flux capacitor">
                <a href="##">Flux Capacitor</a>
            </section>
            <section>
                <img src="../public/images/upgrades/flame.jpg" alt="flame">
                <a href="##">Flame Decals</a>
            </section>
            <section>
                <img src="../public/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                <a href="##">Bumper Stickers</a>
            </section>
            <section>
                <img src="../public/images/upgrades/hub-cap.jpg" alt="hub cap">
                <a href="##">Hub Caps</a>
            </section>
        </div>
    </div>    
</body>



