<body>
    <div class="content">
        <h1>Welcome to CSE Motors</h1>
        <div id="spotlight">
            <img src="../public/images/vehicles/delorean.jpg" alt="Delorean car">
            <div class="info">
                <h2>DMC Delorean</h2>
                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice</li>
                </ul>
                 <button>Own Today</button>
            </div>
        </div>
        
        <div id="reviews">
            <h1>DMC Delorean Reviews</h1>
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Cooest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>            
        </div>
        <div>
            <h1>Delorean Upgrades</h1>
            <div id="grid">
            <section>
                <img src="../public/images/upgrades/flux-cap.png" alt="flux capacitor">
                <a href="##">Flux Capacitor</a>
            </section>
            <section>
                <img src="../public/images/upgrades/flame.jpg" alt="flame">
                <a href="##">Flame Decals</a>
            </section>
            <section>
                <img src="../public/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                <a href="##">Bumper Stickers</a>
            </section>
            <section>
                <img src="../public/images/upgrades/hub-cap.jpg" alt="hub cap">
                <a href="##">Hub Caps</a>
            </section>
            </div>
        </div>
    </div>    
</body>



