/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*for large view*/
@media (min-width: 1000px){
  body {
    margin: 0; 
    padding: 0;
    height: 100vh;
    background-image: url("../images/site/checkerboard.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content {
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    border: solid 5px lightskyblue;
  }
}