<!-- content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>

<!--inventory items display-->
<div id="vehicle-detail">
  <%- vehicleHTML %>
</div>

